@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />
<script src="~/js/home.js"></script>

<div class="banner-container">

	<div class="banner-content">
		<h1>Get The Coaching Training FREE</h1>
		<p>
			This course, we’ll learn the fundamentals of JavaScript, the programming
			language of the Web. JavaScript is a scripting language produced.
		</p>
	</div>

	<div class="slider">
		<div class="slide active">
			<img src="/image/course-5-1-450x450.jpg" alt="LMS Website" />
			<div class="slide-info">
				<h2>Create an LMS Website with LearnPress</h2>
				<p>Teacher: William | Students: 53</p>
				<div class="ratings">⭐ ⭐ ⭐ ⭐ ⭐ (0 Rating)</div>
			</div>
		</div>
		<div class="slide">
			<img src="/image/course-6-1-450x450.jpg" alt="LearnPress Plugin" />
			<div class="slide-info">
				<h2>Introduction LearnPress - LMS Plugin</h2>
				<p>Teacher: William | Students: 97</p>
				<div class="ratings">⭐ ⭐ ⭐ ⭐ ⭐ (0 Rating)</div>
			</div>
		</div>
		<div class="slider-controls">
			<button class="prev-btn">&lt;</button>
			<button class="next-btn">&gt;</button>
		</div>
	</div>
</div>


<div class="text-center">
<div id="panel-22-2-0-1" class="so-panel widget widget_courses panel-last-child" data-index="3">
	<div class="thim-widget-courses thim-widget-courses-base">
		<div class="wrapper-item archive-courses row" data-show-page-nav="1" itemscope itemtype="http://schema.org/CreativeWork">
			<article class="col-sm-3">

				<div class="inner-course">
					<div class="wrapper-course-thumbnail">

						<a class="course-thumbnail" href="courses/create-an-lms-website-with-learnpress/index.html" aria-hidden="true">
								<img loading="lazy" decoding="async" src="~/image/course-6-1-450x450.jpg" alt="Create an LMS Website with LearnPress" title="create-an-lms-website-with-learnpress-3-1" width="450" height="450">
							</a>
										<div class="teacher_course">
							<div class="thim-about-author thim-co-instructor">
								<div class="author-wrapper clearfix">
									<div class="author-avatar">
										<img loading="lazy" decoding="async" alt="User Avatar" class="avatar" src="https://secure.gravatar.com/avatar/f686c3793021c20c9b57f7e8b301a4e8?s=96&amp;d=mm&amp;r=g" height="150" width="150">
									</div>
									<div class="author-bio">
										<div class="author-top">
											<a class="name" href="lp-profile/thang/index.html">
												William
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="course-title" itemprop="name">
						<h2>
							<a href="courses/create-an-lms-website-with-learnpress/index.html" itemprop="url">
								Create an LMS Website with LearnPress
							</a>
						</h2>
					</div>

					<div class="wrapper-course-price">

						<div class="course-price">
							<span class="course-item-price"><span class="free">Free</span></span>
						</div>

					</div>
					<div class="course-students">
						<span>
							<strong class="students">
								53 Students
							</strong>
						</span>
						<div class="course-rating">
							<div class="review-stars-rated" title="0 out of 5 stars">
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="col-sm-3">

				<div class="inner-course">
					<div class="wrapper-course-thumbnail">

						<a class="course-thumbnail" href="courses/introduction-learnpress-lms-plugin/index.html" aria-hidden="true">
								<img loading="lazy" decoding="async" src="~/image/course-7-1-450x450.jpg" alt="Introduction LearnPress &#8211; LMS plugin" title="introduction-learnpress-lms-plugin-2-1" width="450" height="450">
							</a>
						<div class="teacher_course">
							<div class="thim-about-author thim-co-instructor">
								<div class="author-wrapper clearfix">
									<div class="author-avatar">
										<img loading="lazy" decoding="async" alt="User Avatar" class="avatar" src="https://secure.gravatar.com/avatar/f686c3793021c20c9b57f7e8b301a4e8?s=96&amp;d=mm&amp;r=g" height="150" width="150">
									</div>
									<div class="author-bio">
										<div class="author-top">
											<a class="name" href="lp-profile/thang/index.html">
												William
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="course-title" itemprop="name">
						<h2>
							<a href="courses/introduction-learnpress-lms-plugin/index.html" itemprop="url">
								Introduction LearnPress &#8211; LMS plugin
							</a>
						</h2>
					</div>

					<div class="wrapper-course-price">

						<div class="course-price">
							<span class="course-item-price"><span class="free">Free</span></span>
						</div>

					</div>
					<div class="course-students">
						<span>
							<strong class="students">
								97 Students
							</strong>
						</span>
						<div class="course-rating">
							<div class="review-stars-rated" title="0 out of 5 stars">
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="col-sm-3">

				<div class="inner-course">
					<div class="wrapper-course-thumbnail">

						<a class="course-thumbnail" href="courses/how-to-teach-an-online-course/index.html" aria-hidden="true">
								<img loading="lazy" decoding="async" src="~/image/course-5-1-450x450.jpg" alt="How to teach an online course with LearnPress" title="course-2" width="450" height="450">
							</a>
						<div class="teacher_course">
							<div class="thim-about-author thim-co-instructor">
								<div class="author-wrapper clearfix">
									<div class="author-avatar">
										<img loading="lazy" decoding="async" alt="User Avatar" class="avatar" src="https://secure.gravatar.com/avatar/f686c3793021c20c9b57f7e8b301a4e8?s=96&amp;d=mm&amp;r=g" height="150" width="150">
									</div>
									<div class="author-bio">
										<div class="author-top">
											<a class="name" href="lp-profile/thang/index.html">
												William
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="course-title" itemprop="name">
						<h2>
							<a href="courses/how-to-teach-an-online-course/index.html" itemprop="url">
								How to teach an online course with LearnPress
							</a>
						</h2>
					</div>

					<div class="wrapper-course-price">

						<div class="course-price">
							<span class="course-item-price"><span class="price">&#036;69.00</span></span>
						</div>
					</div>
					<div class="course-students">
						<span>
							<strong class="students">
								28 Students
							</strong>
						</span>
						<div class="course-rating">
							<div class="review-stars-rated" title="0 out of 5 stars">
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="col-sm-3">

				<div class="inner-course">
					<div class="wrapper-course-thumbnail">

						<a class="course-thumbnail" href="courses/how-to-create-an-online-course/index.html" aria-hidden="true">
								<img loading="lazy" decoding="async" src="~/image/course-8-1-450x450.jpg" alt="How to Create An Online Course" title="react-course-17" width="450" height="450">
							</a>
						<div class="teacher_course">
							<div class="thim-about-author thim-co-instructor">
								<div class="author-wrapper clearfix">
									<div class="author-avatar">
										<img loading="lazy" decoding="async" alt="User Avatar" class="avatar" src="https://secure.gravatar.com/avatar/f686c3793021c20c9b57f7e8b301a4e8?s=96&amp;d=mm&amp;r=g" height="150" width="150">
									</div>
									<div class="author-bio">
										<div class="author-top">
											<a class="name" href="lp-profile/thang/index.html">
												William
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="course-title" itemprop="name">
						<h2>
							<a href="courses/how-to-create-an-online-course/index.html" itemprop="url">
								How to Create An Online Course
							</a>
						</h2>
					</div>

					<div class="wrapper-course-price">

						<div class="course-price">
							<span class="course-item-price"><span class="price">&#036;30.00</span></span>
						</div>

					</div>
					<div class="course-students">
						<span>
							<strong class="students">
								32 Students
							</strong>
						</span>
						<div class="course-rating">
							<div class="review-stars-rated" title="0 out of 5 stars">
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
								<div class="review-star">
									<em class="far lp-review-svg-star">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
									<em class="fas lp-review-svg-star" style="width:0%;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
											 class="lucide lucide-star">
											<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
										</svg>
									</em>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
</div>
</div>
</div>
</div>
