@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="timer" class="timer"></div>
<link href="~/css/question.css" rel="stylesheet" />
<script src="~/js/question.js"></script>
<body>
    <!-- Phần giới thiệu -->
    <div class="intro-container">
        <img src="~/image/hallstatt-village-cr-800x300.jpg" alt="Banner">
        <div class="header">ĐÀO TẠO HỘI NHẬP - ĐỀ 2</div>
        <div class="content">
            Chào mừng Anh/Chị đến với của Ngôi nhà chung EVS.<br>
            Để hiểu, tin và yêu nơi mình làm việc, Anh/Chị cần nắm rõ các nội dung bài đào tạo và hoàn thành bài kiểm tra dưới đây. Để hoàn thành bài kiểm tra, Anh/Chị cần đạt số điểm tối thiểu <strong>70/100</strong> điểm. Chúc Anh/Chị thành công và có quá trình phát triển rực rỡ cùng EVS.
        </div>
        <div class="score-box">Tổng điểm: 80/100</div>
    </div>

    <!-- Form quiz -->
    <div id="quizContainer" class="quiz-container">
        

    </div>
</body>